DB_NAME = 'postgres'
DB_PASSWORD = 'password'
DB_PORT = 5432
DB_HOST = 'localhost'

BRIAN_CORE_API_KEY =
VOICE_CORE_API_KEY =
VOICE_ID=TxGi1N29NQoCaYD4fcU5
VOICE_MODEL=eleven_v3
MODEL=gemini-2.5-flash